{% extends 'base.html' %}


{% block content %}

	{% for tweet in object_list %}
		<div class="card">
			<div class="card-header">
				<span class="font-weighted-bold">{{tweet.user}} | {{tweet.updated}}</span>
			</div>
		<div class = "card-body">
			{{tweet.content}}
		</div>
			<div class="card-footer text-center text-muted">
				<a href="{% url 'tweet:update' tweet.pk %}">Edit</a> | <a href="{% url 'tweet:delete' tweet.pk %}">Delete</a>
			</div>
		</div>
	{% endfor %}
{%endblock content %}

